doctype html
html
  head
    title Knowledgebase
      link(rel='stylesheet' href='../style.css')
      style.
        li (
          color: red;

        )
  body
    block content
    br
    hr
    footer
      p Copyright 2019
      p check out my blog link='dev.to'
